appdirs
attrs
Automat
beautifulsoup4
bs4
certifi
cffi
chardet
constantly
cryptography
cssselect
decorator
distlib
filelock
hyperlink
idna
incremental
jsonschema
lxml
netaddr
parsel
Protego
public
pyasn1
pyasn1-modules
pycparser
PyDispatcher
PyHamcrest
pyrsistent
python-dateutil
pytz
pywin32
queuelib
requests
selenium
self
service-identity
six
soupsieve
urllib3
validator-collection
validators
virtualenv
w3lib
xlrd
zope.interface
